<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Collabo{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenue sur Collabo, la plateforme dédiée aux suggestions et inscriptions pour des activités dans votre ville.</h1>
        {% if user.is_authenticated %}
            <p>Bienvenue, {{ user.username }} | <a href="{% url 'creer_activite' %}">Créer une activité</a> | <a href="{% url 'activite_list' %}">Voir la liste des activités</a> 
                <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Déconnexion</button>
            </form>
             </p>
        {% else %}
            <p><a href="{% url 'login' %}">Se connecter</a> </p>
        {% endif %}
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Votre site préféré </p>
    </footer>
</body>
</html>
