{% extends 'base_generic.html' %}

{% block content %}
  <h2>Créer une activité</h2>
  <form method="post">
    {% csrf_token %}
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" required>
    
    <label for="ville">Ville:</label>
    <select id="ville" name="ville" required>
      {% for ville in villes %}
      <option value="{{ ville.id }}">{{ ville.nom }}</option>
      {% endfor %}
    </select>
    
    <label for="type">Type:</label>
    <select id="type" name="type" required>
      {% for type in types %}
      <option value="{{ type.id }}">{{ type.type }}</option>
      {% endfor %}
    </select>
    
    <button type="submit">Créer l'activité</button>
  </form>
{% endblock %}
